
.page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card{
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;

}

